footer 
{
    /*background-color: #FCFFEE;*/
	font size: 14px;
    height: 800px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: radial-gradient(ellipse at bottom, #ECF0DA 45%, #FCFFEE 30%);
}

.mazetitle p {
	margin: 50px;
	font-size: 30px;
	color:grey;
	font-weight: 1000;
	font-family:"Montserrat", sans-serif;
}
.mazetitle
{
	display: flex;
	justify-content: center; /* Horizontally center-align the content */
	align-items: center; /* Vertically center-align the content */
}

.footer-info
{
	margin-bottom: 20px;
	display: flex;
	font-weight: 300;
	font size: 14px;
}

.footer-info p
{
	font-size: 16px;
}

.address
{
	display: block;
	width: 450px;
}

.subscribe-form 
{
	text-align: center;
	margin-top: 100px;
	
}

/**.subscribe-form::before
{
	border-radius: 50% 50% 0 0;
	background-color: black;
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 20px;

}
**/
.subscribe-form h3 
{
	margin-top:20px;
    	margin-bottom: 10px;
	font-size: 30px;
	width: 100%;
	white-space: normal;
}
.position
{
	margin-bottom: 40px;
	font-size: 30px;
        color:grey;
        font-weight: 1000;
        font-family:"Montserrat", sans-serif;
}

.input-group
{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.input-group input[type="email"]
{
    padding: 8px;
    width: 350px;
    height: 35px;
    border-radius: 30px;
    font-size:16px;
}

.input-group button 
{
    padding: 8px 20px;
    background-color: #FEBC57;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    transition: color 0.3s;
    margin-top:15px;
    height:60px;
    width:250px;
    font-size:16px;
    font-weight:100;
}

.input-group button:hover 
{
    color: white;
}

.subscribe-form p
{
	font-weight: 300;
}

.enter
{
        display: flex;
        justify-content: center; /* Horizontally center-align the content */
        align-items: center; /* Vertically center-align the content */
}

.thanks
{
        display: flex;
        justify-content: center; /* Horizontally center-align the content */
        align-items: center; /* Vertically center-align the content */
}

.subscribe-form h3, .subscribe-form form, .subscribe-form p {
    position: relative;
    z-index: 1; Ensures the content is above the background 
}

